.slider-height{
    height: 550px;
}
.my-caption{
    background: rgba(74, 134, 245, 0.2);
    bottom: 200px;
}

.h-40{height: 40px}
.h-50{ height: 50px}
.h-200{ height: 200px}
.h-250{height:250px}
.h-600{ height: 600px}
.h-50{ height: 50px}


.card-dafault-height{
    height: 550px;
}